.da-dialog {
  position: relative;
  z-index: 999;

  .da-dialog-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .da-outsideBox {

      .da-top {

      }

      .da-bottom {
        font-size: 0.35rem;
        color: white;
        margin-top: 0.5rem;
      }

      .da-block {
        .da-content {
          background-color: white;
          width: 80%;
          min-height: 2rem;
          align-content: flex-start;
          border-radius: 4px;
        }
      }
    }
  }
}