.da-icon {
  position: relative;
  justify-content: center;

  .da-icon-inline {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;

    svg {
      width: 1em;
      height: 1em;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: currentColor;
      fill: none;
      overflow: hidden;

      &.unset-stroke {
        stroke: none;
      }

      /deep/ * {
        stroke: currentColor;
      }

      /deep/ rect {
        stroke: none;
      }
    }
  }

}