.da-icon {
  position: relative;
  justify-content: center;

  svg {
    width: 1em;
    height: 1em;
    overflow: hidden;
  }

  [class*=feather-] {
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}