.da-radio {
  height: 0.56rem;

  &.da-checked {
    label {
      color: @selected-color;
    }

    .da-input-box {
      .da-radio-icon {
        border: none;

        &:after {
          display: unset;
        }
      }
    }
  }

  label {
    color: @label-text-color;
    padding-right: 0.1rem;
    transition: all 0.25s;

    span {
      height: 100%;
    }
  }

  .da-input-box {
    position: relative;
    height: 100%;
    padding: 0 0.1rem;

    .da-radio-icon {
      border-radius: 10rem;
      width: 1em;
      height: 1em;
      border: 1px solid @border-color;
      position: relative;

      @keyframes checked {
        0% {
          border: 0.07rem solid @selected-color;
        }
        100% {
          border: 0.05rem solid @selected-color;
        }
      }

      &:after {
        border-radius: inherit;
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        border: 0 solid @selected-color;
        animation: checked 0.25s;
        animation-fill-mode: both;
        display: none;
      }

      &.da-isFirstTime {
        &:after {
          animation-duration: 0s;
        }
      }
    }
  }
}