//循环函数 用以生成同类样式
.loop (@className,@i) when (@i >= 0) {
  .@{className}-@{i} {
    width: @i+0%;
  }
  .loop(@className, @i - 1);
}

.da-flex {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-flow: wrap;

  .loop(da-flex-item, 100);

  .da-flex-inline, &.da-flex-inline {
    display: inline-flex;
    width: auto;
  }

  .da-flex-start, &.da-flex-start {
    justify-content: center;
  }

  .da-flex-center, &.da-flex-center {
    justify-content: center;
  }

  .da-flex-column, &.da-flex-column {
    flex-flow: column;
  }

  .da-flex-fixed, &.da-flex-fixed {
    position: fixed;
    left: 0;
    right: 0;

    .da-flex-fixed-top, &.da-flex-fixed-top {
      top: 0;
    }

    .da-flex-fixed-bottom, &.da-flex-fixed-bottom {
      bottom: 0;
    }
  }
}