@color-level-0: rgba(0, 0, 0, 0);

@color-level-1: #48466d;
@color-level-2: #3d84a8;
@color-level-3: #46cdcf;
@color-level-4: #abedd8;

@color-level-5: #07689f;
@color-level-6: #a2d5f2;
@color-level-7: #fafafa;
@color-level-8: #ff7e67;

@color-level-9: #e23e57;
@color-level-10: #311d3f;
@color-level-11: #f5f5f5;
@color-level-12: #9896f1;


@text-strong: @color-level-10;
@text-general: @color-level-1;
@text-weak: @color-level-11;


@border-bottom-color: @color-level-11;
@label-text-color: @text-strong;
@placeholder-color: #999999;

@radio-init-color: @label-color;
@radio-checked-color: rgba(0, 0, 0, 0.7);


@da-icon-color: @label-color;